
# specfic

*.qgs~
*.log
*.ffs
*(backup).fmw


data/2020_/

data/2021/phase_1_*.geojson
data/2021/phase_2_*.geojson
data/2021/phase_3_*.geojson
data/2022/phase_4_*.geojson
data/2022/phase_5_*.geojson

data/2022/phase_1_*.geojson
data/2022/phase_1_pk_auto.xlsx
data/2022/phase_2_*.geojson
data/2022/phase_3_*.geojson
data/2022/phase_4_*.geojson
data/2022/phase_5_*.geojson
data/2022/phase_5_prefecture_liste.csv
data/2022/osm_br_municipalities.geojson
data/2022/communes-20210101-shp.zip
data/2022/backup/
data/2022/pdf/*.pdf
data/2022/gpx/*.gpx

data/2024/backup/
data/2024/import/
data/2024/export/
data/2024/sql/
data/2024/rsync_bed110.sh
data/2024/phase_1*


qgis/exports\ PDF/

backup/

scripts/test.bash
scripts/temp.sql
scripts/notes.txt
scripts/venv/

scripts_v2/config.sh
scripts_v2/config.ini

api/venv/
api/__pycache__/
api1/
api2/

ssh/

.venv/
__pycache__/

.idea/

# +++++++++++++++++++++++++++++++++++++++++++++++++++

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# FME
*.recover


