
# specfic

*.qgs~
*.log
*.ffs
*(backup).fmw


data/2020_/

data/2021/phase_1_*.geojson

data/2022/phase_1_*.geojson


pg_backup/

scripts/test.bash
scripts/temp.sql
scripts/notes.txt

api/venv/
api/__pycache__/
api1/venv/
api1/__pycache__/
api2/venv/
api2/__pycache__/

# +++++++++++++++++++++++++++++++++++++++++++++++++++

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk



